@-webkit-keyframes neon {
  from {
    color: rgba(28, 137, 34, 0);
    text-shadow: 
      0 0 1px #73D977, 
      0 0 5px #07520A, 
      0 0 1px #1cbb22, 
      0 0 2px #1cbb22, 
      0 0 3px #79d97d;
  }
  to {
    color: rgba(28, 137, 34, 0);
    text-shadow: 
      0 0 1.5px #73D977, 
      0 0 5px #07520A, 
      0 0 1px #1cbb22, 
      0 0 3px #1cbb22, 
      0 0 4px #79d97d;
  }
}

@-moz-keyframes neon {
  from {
    color: rgba(28, 137, 34, 0);
    text-shadow: 
      0 0 1px #73D977, 
      0 0 5px #07520A, 
      0 0 1px #1cbb22, 
      0 0 2px #1cbb22, 
      0 0 3px #79d97d;
  }
  to {
    color: rgba(28, 137, 34, 0);
    text-shadow: 
      0 0 1.5px #73D977, 
      0 0 5px #07520A, 
      0 0 1px #1cbb22, 
      0 0 3px #1cbb22, 
      0 0 4px #79d97d;
  }
}

@-o-keyframes neon {
  from {
    color: rgba(28, 137, 34, 0);
    text-shadow: 
      0 0 1px #73D977, 
      0 0 5px #07520A, 
      0 0 1px #1cbb22, 
      0 0 2px #1cbb22, 
      0 0 3px #79d97d;
  }
  to {
    color: rgba(28, 137, 34, 0);
    text-shadow: 
      0 0 1.5px #73D977, 
      0 0 5px #07520A, 
      0 0 1px #1cbb22, 
      0 0 3px #1cbb22, 
      0 0 4px #79d97d;
  }
}

@keyframes neon {
  from {
    color: rgba(28, 137, 34, 0);
    text-shadow: 
      0 0 1px #73D977, 
      0 0 5px #07520A, 
      /*0 0 .5px #07520A, */
      0 0 1px #1cbb22, 
      /*0 0 1.5px #1cbb22, */
      0 0 2px #1cbb22, 
      /*0 0 2.5px #4fd154, */
      0 0 3px #79d97d;
  }
  to {
    color: rgba(28, 137, 34, 0);
    text-shadow: 
      0 0 1.5px #73D977, 
      0 0 5px #07520A, 
      /*0 0 1px #07520A, */
      0 0 1px #1cbb22, 
      /*0 0 2px #1cbb22, */
      0 0 3px #1cbb22, 
      /*0 0 4px #4fd154, */
      0 0 4px #79d97d;
  }
}