@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html, body {
	margin: 0;
	background-color: #ccd6da;
	width: 100%;
	height: 100%;
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1em;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

div { box-sizing: border-box; }

body > * {
	opacity: 0.7;
}

#name {
	font-size: 4.5em;
	color: #000;
}

#face {
	margin: 10vh auto 0 auto;
	width: 300px;
	height: 300px;
}

#links > a {
	display: inline-block;
	margin: 20px 10px 0 10px;
	transition: opacity 200ms;
	opacity: .85;
}

#links > a:hover {
	opacity: 1;
}

#links > a > img {
	width: 70px;
}

#projects {
	margin-top: 70px;
	font-size: 1.2em;
	padding-bottom: 10vh;
}

#projects > a {
	display: block;
	text-decoration: none;
	color: #000;
	width: fit-content;
	padding-right: 15px;
	margin: 20px auto;
}

#projects > a::before {
	content: "";
	width: 15px;
	height: 15px;
	margin-right: 3px;
	background-image: url("../img/link.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	opacity: 0.25;
	position: relative;
	top: 2px;
	transition: opacity 200ms;
}

#projects > a:hover::before {
	opacity: 0.75;
}

@media (max-aspect-ratio: 2/3) {
	#face {
		margin: 10vh auto 0 auto;
		width: 200px;
		height: 200px;
	}
	#name > span {
		display: block;
	}
	#links > a {
		display: inline-block;
		margin-top: 10px;
	}
	#links > a > img {
		width: 50px;
	}
	#projects {
		margin-top: 60px;
	}
}